<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <title>Betray</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src="/socket.io/socket.io.js"></script>-->
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link active" href="/room">Room hub</a>
                <a class="nav-link" href="/about">About</a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover row">
        <div class="col-4 limit">
            <span>Create your link</span>
            <a href="#" id="create-room-button">
            <img class="enlight grow"
                 src="https://images2.minutemediacdn.com/image/upload/c_crop,h_3236,w_5760,x_0,y_0/f_auto,q_auto,w_1100/v1554700227/shape/mentalfloss/istock-609802128.jpg"
                 alt="Create your link">
            </a>
        </div>
        <!--TODO Toglimi-->
        <div class="col-8">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="connect-to-socket-input" class="form-text">Insert socket ID: </label>
                </div>
                <div class="col-auto">
                    <input id="connect-to-socket-input" class="form-control" placeholder="Socket ID" type="text">
                </div>
                <div class="col-auto">
                    <input id="message-socket-input" class="form-control" placeholder="Text" type="text">
                </div>
                <div class="col-auto">
                    <button id="connect-to-socket-button" class="btn btn-secondary">Send</button>
                </div>
            </div>
            <br>
            <hr style="border-top: 1px solid lightblue;">
            <br>
            <div>
                <h4>Online people</h4>
                <ul id="connected-socket-list">

                </ul>
            </div>
        </div>
        <!--TODO scommentami-->
        <!--<div class="col-4">Find new people</div>-->
        <!--<div class="col-4">Group chat</div>-->

        <!--<h1 class="cover-heading">Cover your page</h1>-->
        <!--<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>-->
        <!--<p class="lead">-->
            <!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->
        <!--</p>-->
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Testo Testo Testo</p>
        </div>
    </footer>
</div>
<!--POPUP CHAT-->
<div class="popup-box chat-popup popup-box-on" id="qnimate">
    <div class="popup-head">
        <!--<div class="popup-head-left pull-left"><img src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" alt="iamgurdeeposahan"> Gurdeep Osahan</div>-->
        <!--<div class="popup-head-right pull-right">-->
            <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa-cog"></i> </button>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul role="menu" class="dropdown-menu pull-right">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Media</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Block</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Clear Chat</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Email Chat</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="fa fa-power-off"></i></button>-->
        <!--</div>-->
    </div>
    <div class="popup-messages">
        <!--<div class="direct-chat-messages">-->
            <!--<div class="chat-box-single-line">-->
                <!--<abbr class="timestamp">October 8th, 2015</abbr>-->
            <!--</div>-->
            <!--&lt;!&ndash; Message. Default to the left &ndash;&gt;-->
            <!--<div class="direct-chat-msg doted-border">-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-name pull-left">Osahan</span>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.direct-chat-info &ndash;&gt;-->
                <!--&lt;!&ndash;<img alt="message user image" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img">&lt;!&ndash; /.direct-chat-img &ndash;&gt;&ndash;&gt;-->
                <!--<div class="direct-chat-text">-->
                    <!--Hey bro, how’s everything going ?-->
                <!--</div>-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-timestamp pull-right">3.36 PM</span>-->
                <!--</div>-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-img-reply-small pull-left"></span>-->
                    <!--<span class="direct-chat-reply-name">Singh</span>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.direct-chat-text &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.direct-chat-msg &ndash;&gt;-->
            <!--<div class="chat-box-single-line">-->
                <!--<abbr class="timestamp">October 9th, 2015</abbr>-->
            <!--</div>-->
            <!--&lt;!&ndash; Message. Default to the left &ndash;&gt;-->
            <!--<div class="direct-chat-msg doted-border">-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-name pull-left">Osahan</span>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.direct-chat-info &ndash;&gt;-->
                <!--<img alt="iamgurdeeposahan" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img">&lt;!&ndash; /.direct-chat-img &ndash;&gt;-->
                <!--<div class="direct-chat-text">-->
                    <!--Hey bro, how’s everything going ?-->
                <!--</div>-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-timestamp pull-right">3.36 PM</span>-->
                <!--</div>-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<img alt="iamgurdeeposahan" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img big-round">-->
                    <!--<span class="direct-chat-reply-name">Singh</span>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.direct-chat-text &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.direct-chat-msg &ndash;&gt;-->
        <!--</div>-->
    </div>
    <div class="popup-messages-footer">
        <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
        <!--&lt;!&ndash;<div class="btn-footer">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="bg_none"><i class="fa fa-film"></i> </button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="bg_none"><i class="fa fa-video-camera"></i> </button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="bg_none"><i class="fa fa-paperclip"></i> </button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="bg_none pull-right"><i class="fa fa-thumbs-up"></i> </button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    </div>
</div>
<!---->
<script src="app.js"></script>
</body>
</html>